header {
  text-align: center;
  margin-bottom: var(--espacamento-grande);
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-normal);
  text-align: center;
}

header h1 img {
  display: inline-block;
}

header h2 {
  text-align: center;
}

/* ========== RESPONSIVIDADE ========== */

@media screen and (max-width: 768px) {
  header h1 {
    flex-direction: column;
    font-size: var(--fonte-grande);
  }

  header h1 img {
    width: 60px;
  }

  header h2 {
    font-size: var(--fonte-normal);
  }
}
